.forecast {
  margin: 10px 0;
  text-align: center;
  font-weight: bold;
}

.forecast .col-sm-3 {
  margin: 5px auto;
  padding: 0;
  max-width: 160px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.forecast p {
  margin: 10px;
}
.forecast img {
  max-width: 50px;
}
