.forecast {
  margin: 10px 0;
  text-align: center;
  font-weight: bold;
}

.forecast .col {
  margin: 5px auto;
  padding: 0;
  min-width: 100px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.forecast div {
  margin: 10px;
}
.forecast canvas {
  max-width: 50px;
}
