.weather-description {
  max-width: 350px;
  margin: 20px auto;
  text-align: center;
}
.weather-description h1,
.weather-description h2 {
  margin: 0;
}
.weather-description h1 {
  margin-top: 25px;
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
}

.weather-description h2 {
  font-size: 16px;
  font-weight: bold;
}
.weather-description canvas {
  max-width: 60px;
  display: inline;
  margin-right: 5px;
}
.weather-description span {
  font-size: 38px;
  margin-right: 5px;
  vertical-align: top;
}

.weather-description button {
  vertical-align: middle;
  background-color: rgb(0, 0, 0, 0.2);
  color: #ffffff;
  font-size: 14px;
  margin: 1px;
  border: 2px solid rgb(0, 0, 0, 0.4);
  border-radius: 5px;
  box-shadow: rgb(0, 0, 0, 0.24) 0px 3px 8px;
}

.weather-description .selected {
  vertical-align: middle;
  background-color: rgb(0, 0, 0, 0.2);
  color: #ffffff;
  font-size: 14px;
  margin: 1px;
  border: 2px solid rgb(0, 0, 0, 0.4);
  border-radius: 5px;
  box-shadow: rgb(0, 0, 0, 0.24) 0px 3px 8px;
  transform: scale(1.2);
}

.weather-description ul {
  text-align: start;
  padding: 0;
  list-style: none;
  margin: 10px 0;
}
.weather-description li {
  font-size: 15px;
}

.city-search,
.submit-button,
.current-location {
  background-color: #ffffff;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgb(0, 0, 0, 0.2);
  outline: none;
  transition: all 150ms ease-in-out;
}

.city-search:hover,
.submit-button:hover,
.current-location:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.current-location {
  display: block;
  margin: 5px auto;
}
